/* line 3, ../sass/index.scss */
.scrollbar {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 8, ../sass/index.scss */
.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* line 13, ../sass/index.scss */
.scrollbar::-webkit-scrollbar-track {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(245, 245, 245, 0.9);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) inset;
}
/* line 20, ../sass/index.scss */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(173, 182, 190, 0.5);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 25, ../sass/index.scss */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

@font-face {
  font-family: Quantify;
  src: url(../fonts/quantify/quantify.ttf);
}
@font-face {
  font-family: Lato_Black;
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato_BlackItalic;
  src: url(../fonts/Lato-BlackItalic.ttf);
}
@font-face {
  font-family: Lato_Bold;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato_BoldItalic;
  src: url(../fonts/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: Lato_Medium;
  src: url(../fonts/Lato-Medium.ttf);
}
@font-face {
  font-family: Lato_Regular;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato_Thin;
  src: url(../fonts/Lato-Thin.ttf);
}
/* line 78, ../sass/index.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Lato_Thin;
  background-color: #293a49;
}

/* line 86, ../sass/index.scss */
.divider {
  display: block;
  width: 35px;
  height: 3px;
  margin: 10px auto 20px;
  background-color: #2abb9b;
}

/* line 95, ../sass/index.scss */
div.header {
  height: 100%;
  background: url(../images/header.jpg) fixed;
  background-size: cover;
}
/* line 100, ../sass/index.scss */
div.header .topbar {
  padding: 10px 15px;
}
/* line 103, ../sass/index.scss */
div.header .topbar img {
  width: 30px;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 4px;
  float: left;
  display: none;
}
/* line 112, ../sass/index.scss */
div.header .topbar span {
  float: left;
  cursor: pointer;
  padding: 10px;
  position: relative;
  color: black;
}
/* line 118, ../sass/index.scss */
div.header .topbar span:after {
  content: '';
  display: block;
  border-bottom: 2px solid #2abb9b;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
/* line 130, ../sass/index.scss */
div.header .topbar span:hover:after {
  width: 100%;
}
/* line 135, ../sass/index.scss */
div.header .topbar ul {
  float: right;
  padding: 0;
  margin: 0;
}
/* line 140, ../sass/index.scss */
div.header .topbar ul li {
  display: inline-block;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  position: relative;
  color: black;
}
/* line 148, ../sass/index.scss */
div.header .topbar ul li:after {
  content: '';
  display: block;
  border-bottom: 2px solid #2abb9b;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
/* line 160, ../sass/index.scss */
div.header .topbar ul li:hover:after {
  width: 100%;
}
/* line 168, ../sass/index.scss */
div.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 174, ../sass/index.scss */
div.header .titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* line 180, ../sass/index.scss */
div.header .titles img {
  width: 100px;
}

/* line 186, ../sass/index.scss */
nav {
  width: 100%;
}
/* line 189, ../sass/index.scss */
nav ul li {
  min-width: 35px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  color: #C7C7C7;
  font-family: Lato_Regular;
  font-size: 13px;
  padding: 0 15px;
  line-height: 36px;
  border-radius: 30px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  /* IE10 is actually unprefixed */
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
  margin: 0 15px;
}
/* line 208, ../sass/index.scss */
nav ul li.active {
  background: linear-gradient(to bottom right, #3acfd5, #3a8ed5);
  color: white;
}
/* line 213, ../sass/index.scss */
nav ul li:hover {
  background: linear-gradient(to bottom right, #3acfd5, #3a8ed5);
  color: white;
}

/* line 221, ../sass/index.scss */
h2 {
  text-align: center;
  font-size: 25px;
  font-family: Quantify;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 229, ../sass/index.scss */
section {
  padding: 95px 0;
  max-width: 1300px;
  margin: 0 auto;
}
/* line 234, ../sass/index.scss */
section .icon {
  font-size: 68px;
}
/* line 238, ../sass/index.scss */
section p.presentation {
  text-align: center;
  font-size: 20px;
}

/* line 244, ../sass/index.scss */
div.section-grey {
  background-color: #F1F1F1;
}

/* line 248, ../sass/index.scss */
div.section-white {
  background-color: white;
}

/* line 252, ../sass/index.scss */
div.section-footer {
  background-color: #293a49;
}
/* line 255, ../sass/index.scss */
div.section-footer h2 {
  color: white;
}

/* line 260, ../sass/index.scss */
.element {
  width: 33%;
  display: inline-block;
  text-align: center;
  margin: 10px 0;
  vertical-align: top;
}
/* line 267, ../sass/index.scss */
.element ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 25px;
}
/* line 273, ../sass/index.scss */
.element ul.left {
  text-align: left;
}
/* line 277, ../sass/index.scss */
.element ul .year {
  color: #2abb9b;
  font-weight: bold;
}
/* line 283, ../sass/index.scss */
.element img {
  width: 95%;
  height: 250px;
}
/* line 288, ../sass/index.scss */
.element p {
  width: 95%;
  background-color: white;
  margin: 15px auto;
  padding: 15px 0;
}

/* line 296, ../sass/index.scss */
#terminal {
  background-color: black;
  color: white;
  width: 85%;
  margin: 0 auto;
  height: 500px;
  padding: 15px;
}
/* line 304, ../sass/index.scss */
#terminal div.term-content {
  overflow: auto;
  height: 95%;
}
/* line 311, ../sass/index.scss */
#terminal #topbar button {
  height: 14px;
  width: 14px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
}
/* line 320, ../sass/index.scss */
#terminal #topbar button.close {
  background-color: #f55551;
}
/* line 323, ../sass/index.scss */
#terminal #topbar button.close::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 10px;
  background: #360000;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  opacity: 0;
}
/* line 336, ../sass/index.scss */
#terminal #topbar button.close::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 10px;
  background: #360000;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  opacity: 0;
}
/* line 350, ../sass/index.scss */
#terminal #topbar button.minimize {
  background-color: #f6b73e;
}
/* line 353, ../sass/index.scss */
#terminal #topbar button.minimize::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 8px;
  background: #864502;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
}
/* line 367, ../sass/index.scss */
#terminal #topbar button.full {
  background-color: #32c146;
}
/* line 370, ../sass/index.scss */
#terminal #topbar button.full::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 8px;
  background: #360000;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  opacity: 0;
  width: 6px;
  height: 6px;
  background: #0b5401;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  border: 1px solid #2ac833;
  border-radius: 2px;
}
/* line 390, ../sass/index.scss */
#terminal #topbar button.full::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 8px;
  background: #360000;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  opacity: 0;
  width: 10px;
  height: 2px;
  background: #2ac833;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  opacity: 0;
}
/* line 411, ../sass/index.scss */
#terminal #topbar:hover button::after, #terminal #topbar:hover button::before {
  opacity: 1;
}
/* line 416, ../sass/index.scss */
#terminal #prompt {
  float: left;
  margin-right: 7px;
}
/* line 421, ../sass/index.scss */
#terminal #cmdline {
  float: left;
  margin: 0;
  width: 96%;
  font: inherit;
  border: none;
  background-color: transparent;
  outline: none;
  color: inherit;
}
/* line 432, ../sass/index.scss */
#terminal a {
  color: white;
}

/* line 437, ../sass/index.scss */
.fixed {
  padding: 10px 0 !important;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}
/* line 445, ../sass/index.scss */
.fixed img {
  display: block !important;
}
/* line 449, ../sass/index.scss */
.fixed span {
  margin-left: 15px;
}
/* line 453, ../sass/index.scss */
.fixed ul {
  margin-right: 15px !important;
}

/* line 458, ../sass/index.scss */
#contact {
  text-align: center;
}
/* line 460, ../sass/index.scss */
#contact .email-link {
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
/* line 468, ../sass/index.scss */
#contact .socials {
  margin: 30px 0;
}
/* line 470, ../sass/index.scss */
#contact .socials .social {
  color: white;
  background-color: #2abb9b;
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-radius: 25px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
}
/* line 485, ../sass/index.scss */
#contact button {
  background-color: #39536B;
  border: none;
  color: #F1F1F1;
  outline: 0;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 70px;
}
/* line 498, ../sass/index.scss */
#contact .copyright {
  color: #5f7282;
}

/* line 503, ../sass/index.scss */
.dock {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
}
/* line 509, ../sass/index.scss */
.dock .app {
  float: right;
  width: 60px;
  cursor: pointer;
  margin: 10px;
}
/* line 514, ../sass/index.scss */
.dock .app img {
  width: 100%;
}

@media screen and (min-width: 720px) and (max-width: 1280px) {
  /* line 521, ../sass/index.scss */
  #work .element {
    width: 49.6%;
  }
  /* line 523, ../sass/index.scss */
  #work .element img {
    height: inherit;
  }

  /* line 528, ../sass/index.scss */
  #aboutme .element {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  /* line 535, ../sass/index.scss */
  section {
    padding: 95px 15px;
  }

  /* line 540, ../sass/index.scss */
  div.header .topbar i.pe-7s-home {
    display: none;
  }
  /* line 544, ../sass/index.scss */
  div.header .topbar img {
    float: none;
    margin: 0 auto;
  }
  /* line 548, ../sass/index.scss */
  div.header .topbar ul {
    margin: 0;
    clear: both;
    text-align: center;
    float: none;
  }
  /* line 553, ../sass/index.scss */
  div.header .topbar ul li {
    margin: 0 3px;
  }

  /* line 560, ../sass/index.scss */
  nav ul {
    padding: 0;
    margin-left: 15px;
  }
  /* line 563, ../sass/index.scss */
  nav ul li {
    margin: 0;
  }

  /* line 569, ../sass/index.scss */
  .element {
    width: 100%;
  }
  /* line 571, ../sass/index.scss */
  .element img {
    height: inherit;
  }
}
/**
 * Progress bar
 */
/* line 581, ../sass/index.scss */
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  /* Dimensions */
  width: 100%;
  height: .25em;
  /* Reset the apperance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of the default border in Firefox/Opera. */
  border: none;
  /* For Firefox/IE10+ */
  background-color: transparent;
  /* For IE10+, color of the progress bar */
  color: red;
}

/* line 606, ../sass/index.scss */
progress::-webkit-progress-bar {
  background-color: transparent;
}

/* line 610, ../sass/index.scss */
.flat::-webkit-progress-value {
  background-color: red;
}

/* line 614, ../sass/index.scss */
.flat::-moz-progress-bar {
  background-color: red;
}

/* line 618, ../sass/index.scss */
.single::-webkit-progress-value {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, #2abb9b);
}

/* line 623, ../sass/index.scss */
.single::-moz-progress-bar {
  background-color: transparent;
  background-image: -moz-linear-gradient(left, transparent, #2abb9b);
}

/* line 628, ../sass/index.scss */
.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

/* line 638, ../sass/index.scss */
.progress-bar {
  background-color: red;
  width: 50%;
  display: block;
  height: inherit;
}
